{{ define "main" }}
<section class="posts">
	<div class="container">
			{{ partial "breadcrumbs.html" . }}
			<h1>{{ .Title }}</h1>
			<div class="posts__list">
				{{ range first 10 .Data.Pages }}
					<div class="posts__item">
					  <div class="row"> 
						<div class="col-lg-5">
							<div class="responsive-media">
								{{- $image := resources.Get .Params.image.img -}}
								<a href="{{ .RelPermalink }}">
									<img data-src="{{ ($image.Fill "630x378 Center q80").RelPermalink }}" alt="{{ .Params.image.alt }}" title="{{ .Params.image.alt }}" class="lazy"/>
								</a>
							</div>
						</div>
						<div class="col-lg-7">
						  <div class="posts__body-wrap">
							<h2 class="posts__title">
								<a href="{{ .RelPermalink }}">{{ .Title }}</a>
							</h2>
							{{ if .Params.desc }}<p>{{ slicestr .Params.desc 0 120 }}...</p>{{ end }}
								<a class="posts__read-btn" href="{{ .RelPermalink }}" title="Read more about {{ .Title }}">Read more</a>
							<div class="posts__info">
								<time class="date" datetime="{{ dateFormat "2006-01-02" .Date }}">
									<i></i>
									{{- dateFormat "2006-01-02" .Date -}}
								</time>
								<!-- <div class="posts__tags"><i></i>
									<div class="posts__tags-list">
										{{ range .Params.tags }}
											<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
										{{ end }}
									</div>
								</div> -->
							</div>
						  </div>
						</div>
					  </div>
					</div>
				{{ end }}
			</div>
			{{ partial "paginator.html" . }}
		</div>
	</section>
{{ end }}