.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	&__item {
		position: relative;
		font-size: 11px;
		text-transform: uppercase;
		@media (max-width: $sm) {
			line-height: 15px;
			margin-bottom: 5px;
		}
		&:not(:last-child) {
			padding-right: 25px;
			margin-right: 20px;
			&:after {
				position: absolute;
				top: calc(50% - 5px);
				right: -5px;
				content: '';
				border: 5px solid transparent;
				border-left-color: #1d63a3;
			}
		}
		&:last-child {
			color: #cacaca;
		}
	}
	&_back-btn {
		display: block;
		position: relative;
		font-size: 15px;
		text-transform: uppercase;
		padding-left: 25px;
		margin-bottom: 20px;
		i {
			position: absolute;
			top: -2px;
			left: 0;
			width: 15px;
			height: 15px;
			background: #fff;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.862 477.862'%3E%3Cpath d='M187.722 102.856V17.062C187.719 7.636 180.076-.003 170.65 0a17.069 17.069 0 00-12.676 5.644L4.375 176.311a17.067 17.067 0 00-.529 22.187l153.6 187.733c5.968 7.295 16.72 8.371 24.016 2.403a17.066 17.066 0 006.26-13.172v-85.043c134.827 4.386 218.965 62.02 256.888 175.787a17.065 17.065 0 0018.927 11.434 17.067 17.067 0 0014.319-16.845c-.001-200.977-120.986-348.621-290.134-357.939z'/%3E%3C/svg%3E");
		}
	}
}