.header  {
	display: flex;
    align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	min-height: 50px;
	background: $primary-bg-color;
	&__wrap-items {
		display: flex;
		align-items: center;
	}
	&__img-wrap {
		flex-shrink: 0;
		img {
			width: 60px;
		}
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-list {
			position: fixed;
			top: 50px;
			right: 0;
			bottom: 0;
			left: -999px;
			z-index: 10;
			width: 100%;
			background: $primary-bg-color-hover;
			&_active {
				left: 0;
				transition: .4s;
			}
			@media (min-width: $lg) {
				display: flex;
				flex-wrap: wrap;
				position: static;
				top: 0;
				left: 0;
				background: transparent;
			}
		}
		&-item {
			@media (min-width: $lg) {
				&:not(:last-child) {
					margin-right: 0;
				}
			}
		}
		&-link {
			display: block;
			font-family: 'Rajdhani Semibold',sans-serif;
			color: $color-white;
			text-transform: uppercase;
			line-height: 1.3;
			padding: 16px;
			border-bottom: 1px solid #909090;
			@media (min-width: $lg) {
				display: inline-block;
				border: none;
			}
			&:hover {
				background: $primary-bg-color-hover;
				transition: .3s;
			}
			&_active {
				background: #475567;
				transition: .3s;
				@media (min-width: $lg) {
					background: $primary-bg-color-hover;
				}
			}
		}
	}
	&__lang-toggle {
		text-transform: uppercase;
		padding: 18px;
		margin-right: 30px;
		&:hover {
			background: $primary-bg-color-hover;
			transition: .3s;	
		}
	}
	&__burger-btn {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		@media (min-width: $lg) {
			display: none;
		}
		&:hover {
			background-color: #1b5487;
			transition: .3s;
		}
		&:before {
			position: absolute;
			top: 16px;
			left: 17px;
			content: '';
			width: 16px;
			height: 16px;
			border: 2px solid $color-white;
			border-right: 0;
			border-left: 0;
			transition: .3s;
		}
	
		&:after {
			position: absolute;
			top: 23px;
			left: 17px;
			content: '';
			width: 16px;
			border-top: 2px solid $color-white;
			transition: .3s;
		}
	
		&_active {
			background: $primary-bg-color-hover;
			&:before {
				position: absolute;
				top: 24px;
				left: 15px;
				transform: rotate(45deg);
				content: '';
				width: 20px;
				height: 0;
				border-bottom: 0;
				transition: .2s;
			}
		
			&:after {
				position: absolute;
				top: 24px;
				left: 15px;
				transform: rotate(-45deg);
				content: '';
				width: 20px;
				height: 0;
				transition: .2s;
			}
		}
	}
}
