.hero {
	margin-top: 50px;
	&__item {
		img {
			width: 100%;
			height: 180px;
			object-fit: cover;
			@media (min-width: $md) {
				height: 350px;
			}
			@media (min-width: $lg) {
				height: 500px;
			}
		}
	}
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background: $color-white;
		opacity: 1;
		&:not(:last-child) {
			margin-right: 15px !important;
		}
		&-active {
			border: 2px solid $color-white;
			background: transparent;
		}
	}
	.swiper-button-prev {
		left: 30px;
	}
	.swiper-button-next {
		right: 30px;
	}
	&__button-arrow {
		display: none;
		@media (min-width: $lg) {
			display: block;
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		color: #fff;
		&:hover {
			color: var(--swiper-navigation-color, var(--swiper-theme-color));
			transition: .3s;
		}
	}
}


