.media {
	&__images-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: none;
		gap: 10px 10px;
		@media (min-width: $md) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: $lg) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
			"top top right"
			"left bottom bottom";
			gap: 20px 20px;
		}
		img {
			cursor: pointer;
			border-radius: 20px;
			&:hover {
				filter: opacity(65%);
				transition: .3s;
			}
		}
	}
	.top {
		@media (min-width: $lg) {
			grid-area: top;
		}
	}
	.bottom { 
		@media (min-width: $lg) {
			grid-area: bottom;
		}
	}
	.right { 
		display: grid;
		row-gap: 10px;
		@media (min-width: $lg) {
			grid-area: right;
		}
	}
	.left {
		display: grid;
		row-gap: 10px;
		@media (min-width: $lg) {
			grid-area: left;
		}
	}
}