.other {
	p {
		font-size: 20px;
		text-align: center;
		@media (min-width: $md) {
			font-size: 23px;
		}
		&:before {
			display: none;
		}
	}
	a {
		display: block;
		overflow: hidden;
		border: 3px solid #475e74;
		border-radius: 12px;
		&:hover {
			border: 3px solid #55adff;
			transition: .3s;
		}
	}
	img {
		&:hover {
			filter: opacity(65%);
			transition: .3s;
		}
	}
}