.posts {
	padding: 20px 0 30px;
	margin-top: 50px;
	h2 {
		text-align: left;
		padding: 0;

		@media (max-width: $md) {
			font-size: 18px;
		}
	}
	.container {
		@media (min-width: 1200px) {
			max-width: 900px;
		}
		@media (min-width: 1300px) {
			max-width: 1140px;
		}
	}
	&__list {
		padding: 30px;
		border-radius: 12px;
		background: #343d49;
	}
	&__item {
		&:not(:last-child) {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid #556273
		}
		.responsive-media {
			padding-bottom: 60%;
		}
	}
	&__body-wrap {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-direction: column;
		height: 100%;
		padding-top: 15px;
		@media (min-width: $lg) {
			padding: 15px;
		}
		p {
			color: #d4d4d4;
			line-height: 20px;
			margin-bottom: 10px;
			&:before {
				display: none;
			}
		}
	}
	h3 {
		font-size: 18px;
		text-align: left;
		margin-top: 10px;
		margin-bottom:	5px;
	}
	&__read-btn {
		display: inline-block;
		font-family: $font-family2;
		text-transform: uppercase;
		padding: 10px 15px;
		border-radius: 12px;
		background: #1d63a3;
		&:hover {
			background: #1b5487;
			transition: background .2s;
		}
	}
	&__info {
		color: #b7c7e2;
		margin-top: 20px;
		@media (min-width: $md) {
			display: flex;
		}
	}
}

html[lang="ru"] {
	.posts__title {
		font-size: 16px;
		@media (min-width: $md) {
			font-size: 21px;
		}
	}
}