.single-post {
	padding: 20px 0 30px;
    margin-top: 50px;
	&__wrap {
		padding: 20px;
		border: 1px solid #475567;
		border-radius: 10px;
		background: #343d49;
	}
	&__info {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&__socials {
		display: flex;
		align-items: center;
		margin-top: 10px;
	}
	.tags {
		margin-top: 0;
	}
}