.text-block {
	color: #b7c7e2;
	margin: 10px 0;
	ul {
		margin: 15px 0;
	}

	li {
		position: relative;
		padding-left: 20px;
		margin-bottom: 15px;
		&:before {
			position: absolute;
			top: 3px;
			left: 0;
			content: "";
			width: 8px;
			height: 8px;
			border-radius: 12px;
			background: #1d63a3;
		}
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	
	p {
		line-height: 24px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&:before {
			content: "...";
			user-select: none;
			color: transparent;
		}
	}
	h2, h3, h4, h5, h6 {
		text-align: left;
		text-transform: uppercase;
		padding: 0;
		margin: 10px 0;
	}
}