<div class="cookie-popup cookie-popup_hidden">
	<div class="cookie-popup__wrap">
	  <p>This website uses cookies to ensure you get the best experience on our website.</p>
	  <button class="js-cookie-popup">×</button>
	</div>
</div>