<div class="post-links">
	{{ if eq .Site.Language.Lang "en" }}
		<p class="string-block string-block_center">Thanks for watching!</p>
	{{ else }}
		<p class="string-block string-block_center">Спасибо за просмотр!</p>
	{{ end }}
	<div class="hr"></div>
	{{ if eq .Site.Language.Lang "en" }}
		<p class="string-block string-block_center">You can join our discord and talk to us and other people!</p>
	{{ else }}
		<p class="string-block string-block_center">Вы так же можете присоединиться к нашему Discord каналу и пообщаться с нами и другими людьми!</p>
	{{ end }}
	<ul class="list-links-block">
		<li>
			<a href="https://discord.gg/YYTYHJq3XB" target="_blank" title="HECU Collective Discord" rel="noopener">HECU Collective Discord</a>
		</li>
	</ul>
	{{ if eq .Site.Language.Lang "en" }}
		<p class="string-block string-block_center">Here is the link to our VK page:</p>
	{{ else }}
		<p class="string-block string-block_center">А вот ссылка на нашу группу ВКонтакте:</p>
	{{ end }}
	<ul class="list-links-block">
		<li>
			<a href="https://vk.com/hecuteam" target="_blank" title="HECU Collective VK" rel="noopener">HECU Collective VK</a>
		</li>
	</ul>
	{{ if eq .Site.Language.Lang "en" }}
		<p class="string-block string-block_center">There you can support us financially:</p>
	{{ else }}
		<p class="string-block string-block_center">Мы будем благодарны за вашу финансовую поддержку:</p>
	{{ end }}
	<ul class="list-links-block">
		<li>
			<a href="https://www.patreon.com/user/overview?u=27329565" target="_blank" title="Patreon" rel="noopener">Patreon</a>
		</li>
		<li>
			<a href="https://bit.ly/2PFKADE" target="_blank" title="PayPal" rel="noopener">PayPal</a>
		</li>
		<li>
			<a href="https://www.donationalerts.com/r/hecu_collective" target="_blank" title="DonationAlerts" rel="noopener">DonationAlerts</a>
		</li>
	</ul>
	{{ if eq .Site.Language.Lang "en" }}
		<p class="string-block string-block_center">Thank you for your support once again!</p>
	{{ else }}
		<p class="string-block string-block_center">Еще раз спасибо за вашу поддержку!</p>
	{{ end }}
	<div class="hr"></div>
</div>