//- - let j = 0
section.js-section(block="about-project" data-section="about project")
	h2(elem="title") about project
	.row.align-items-center
		.col-md-8
			p Initially developed and released by Gearbox Software in 2001, second&nbsp;Half-Life&nbsp;add-on,&nbsp;Half-Life:&nbsp;Blue Shift&nbsp;is a return to the Black Mesa Research Facility and another look at the Incident's consequences from the eyes of Gordon Freeman's best friend - Barney Calhoun.
		.col-md-4.mt-3.mt-md-0.order-1.order-md-0.d-flex.justify-content-center.justify-content-md-start
			a(href="https://www.moddb.com/mods/black-mesa-blue-shift-remake" title="View Black Mesa: Blue Shift on Mod DB")
				img(src="https://button.moddb.com/popularity/medium/mods/49069.png" alt="Black Mesa: Blue Shift")
		.col-12.mt-3
			p In 2012, Crowbar Collective has delighted Half-Life fans with release of the magnificent Half-Life remake, but there are still no released remakes for add-ons. This is when we are coming in - HECU Collective are developing the Black Mesa: Blue Shift - a free remake with use of Black Mesa resources and style. We will try to stay as close to the original Blue Shift and Black Mesa as possible. Our mod will be releasing partially, chapter by chapter, so those who are not patient for the full release will finally have something to play!
	//- h3.mt-3 Our Team 
	//- div(elem="team-list")
	//- 	.row
	//- 		while (j < 4)
	//- 			.col-md-4
	//- 				p Name: <span>.mdl</span>
	//- 				p Role: <span>Level Designer & Web Master</span>
	//- 			- j++

	