section.js-section(block="about-us" data-section="about us")
	h2(elem="title") about us
	p The team was founded on December 10, 2016. April 2018, the AS team joined the main development team, thereby forming the&nbsp;<strong>HECU&nbsp;Collective</strong>. 
	p At the same time, we do not limit ourselves to the framework and can post both a trailer for a new game/mod on the Source engine, and interesting news from the world of half-life and other games from Valve.
	h3 Our social links: 
	ul
		li 
			a(href="https://vk.com/hecuteam" target="_blank" title="Vkontakte" rel="noopener") Vkontakte
		li 
			a(href="https://discord.gg/YYTYHJq3XB" target="_blank" title="Discord" rel="noopener") Discord
		li 
			a(href="https://www.youtube.com/channel/UCjoL6M9_8-93vmxjO4W5R9w" target="_blank" title="Daver's Youtube Channel" rel="noopener") Daver's Youtube Channel