main.main
	h1 Black Mesa: Blue Shift
	.modlogo-wrap
		img.lazy(data-src="img/logo/Logov0.4-FULL-ModDB_600.png", alt="hecucollective logo")
	include _about-project.pug
	include _about-us.pug
	include _media.pug
	include _support-us.pug
	include _other-projects.pug