section.js-section(block="media" data-section="media")
	h2(elem="title") media
	div#lightgallery(elem="images-container")
		.top
			div(data-src="img/media/map1-cafe_1080.jpg" elem="item")
				img.lazy(data-src="img/media/map1-cafe_thumb.jpg", alt="")
		.bottom
			div(data-src="img/media/map3-lockers-alt_1080.jpg" elem="item")
				img.lazy(data-src="img/media/map3-lockers-alt_thumb.jpg", alt="")
		.right
			div(data-src="img/media/map1-ug1alt_1080.jpg" elem="item")
				img.lazy(data-src="img/media/map1-ug1alt_thumb.jpg", alt="")
			div(data-src="img/media/map1-ug1_1080.jpg" elem="item")
				img.lazy(data-src="img/media/map1-ug1_thumb.jpg", alt="")
		.left
			div(data-src="img/media/map2-otis_1080.jpg" elem="item")
				img.lazy(data-src="img/media/map2-otis_thumb.jpg", alt="")
			div(data-src="img/media/map1-ug1alt_1080.jpg" elem="item")
				img.lazy(data-src="img/media/map1-ug1alt_thumb.jpg", alt="")
