section.js-section(data-section="media")
	h2(elem="title") media
	div.js-lightgallery(block="media-block")
		div(elem="item")
			div.responsive-media(data-src="img/media/Chapter1-an.jpg" elem="img")
				img.lazy(data-src="img/media/Chapter1-an_thumb.jpg", alt="Black Mesa: Blue Shift - Living Quarters Outbound")
		div(elem="item")
			div.responsive-media(data-src="img/media/map1-cafe_1080.jpg" elem="img")
				img.lazy(data-src="img/media/map1-cafe_thumb.jpg", alt="Black Mesa: Blue Shift - Living Quarters Outbound")
		div(elem="item")
			div.responsive-media(data-src="img/media/map1-ug1alt_1080.jpg" elem="img")
				img.lazy(data-src="img/media/map1-ug1alt_thumb.jpg", alt="Black Mesa: Blue Shift - Living Quarters Outbound")
	div.js-lightgallery(block="media-block")
		div(elem="item")
			div.responsive-media(data-src="img/media/map1-ug1_1080.jpg" elem="img")
				img.lazy(data-src="img/media/map1-ug1_thumb.jpg", alt="Black Mesa: Blue Shift - Living Quarters Outbound")
		div(elem="item")
			div.responsive-media(data-src="img/media/map2-otis_1080.jpg" elem="img")
				img.lazy(data-src="img/media/map2-otis_thumb.jpg", alt="Black Mesa: Blue Shift - Living Quarters Outbound")
		div(elem="item")
			div.responsive-media(data-src="img/media/map3-lockers-alt_1080.jpg" elem="img")
				img.lazy(data-src="img/media/map3-lockers-alt_thumb.jpg", alt="Black Mesa: Blue Shift - Insecurity")
