section.js-section(block="other" data-section="other projects")
	h2 other projects
	.text-img-link-block
		.row 
			.col-md-6.col-xl-4.mb-2.d-flex.flex-column.justify-content-around
				p Black Mesa: Azure Sheep Remake
				a.responsive-media(href="https://www.moddb.com/mods/black-mesa-azure-sheep" target="_blank" rel="noopener")
					img.lazy(data-src="img/asheep_800.jpg", alt="Black Mesa: Azure Sheep Remake")
			.col-md-6.col-xl-4.mb-2.d-flex.flex-column.justify-content-around
				p Black Mesa: Hazard Сourse After Disaster
				a.responsive-media(href="https://www.moddb.com/mods/black-mesa-hazard-course-after-disaster" target="_blank" rel="noopener")
					img.lazy(data-src="img/hc_800.jpg", alt="Black Mesa: Hazard Сourse After Disaster")
			.col-md-6.col-xl-4.d-flex.flex-column.justify-content-around
				p Black Mesa: Black Ops
				a.responsive-media(href="https://www.moddb.com/mods/black-mesa-black-ops" target="_blank" rel="noopener")
					img.lazy(data-src="img/BO_800.jpg", alt="Black Mesa: Black Ops")