section.js-section(block="other" data-section="other projects")
	h2(elem="title") other projects
	.row 
		.col-md-6.col-xl-4.mb-2.d-flex.flex-column.justify-content-between
			p Black Mesa: Azure Sheep Remake
			a(href="https://www.moddb.com/mods/black-mesa-azure-sheep" target="_blank")
				img.lazy(data-src="img/asheep_800.jpg", alt="Black Mesa: Azure Sheep Remake")
		.col-md-6.col-xl-4.mb-2.d-flex.flex-column.justify-content-between
			p Black Mesa: Hazard Сourse After Disaster
			a(href="https://www.moddb.com/mods/black-mesa-hazard-course-after-disaster" target="_blank")
				img.lazy(data-src="img/hc_800.jpg", alt="Black Mesa: Hazard Сourse After Disaster")
		.col-md-6.col-xl-4.d-flex.flex-column.justify-content-between
			p Black Mesa: Black Ops
			a(href="https://www.moddb.com/mods/black-mesa-black-ops" target="_blank")
				img.lazy(data-src="img/BO_800.jpg", alt="Black Mesa: Black Ops")