mixin pagination 
	div(block="pagination")
		a(href="#" elem="prev") &laquo;prev
		div(elem="pages")
			a(href="#" elem="page") 1
			a(href="#" elem="page" mod="active") 2
		a(href="#" elem="next") next&raquo;