section.js-section(block="support" data-section="support us")
	h2 support us
	h3 We have few places where you can donate us:
	ul
		li 
			a(href="https://www.patreon.com/user/overview?u=27329565" target="_blank" title="Patreon" rel="noopener") Patreon
		li 
			a(href="https://bit.ly/2PFKADE" target="_blank" title="PayPal" rel="noopener") PayPal
		li 
			a(href="https://www.donationalerts.com/r/hecu_collective" target="_blank" title="DonationAlerts" rel="noopener") DonationAlerts
	p Your support really matters to us.