doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/vendors.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
		title Black Mesa Blue Shift
	body
		include html-components/_header.pug
		include html-components/_hero.pug
		include html-components/_main.pug
		script(src="js/main-min.js") 
		script(src="js/vendors-min.js") 