extends html-components/layouts/_default.pug

block content 
	div(block="single-post")
		.container
			div(elem="wrap")
				ul(block="breadcrumbs")
					li(elem="item")
						a(href="#") Home
					li(elem="item")
						a(href="#") Blog
					li(elem="item")
						a Markdown Syntax Guide
				h1 Markdown Syntax Guide
				div(elem="text-content")
					p Не много интересной информации. Мы упоминали о том ,что начало разработки BS было положено когда к нам поступила информация о том, что разработка Insecurity отменена, а все прошлые наработки были потеряны. Так вот, уже тогда мы приняли решение об восстановлении локации по скриншотам. Этот процесс на примере одной карты я бы хотел сейчас продемонстрировать:

					p О том что из этого получилось, вы скоро сами сможете увидеть 16 марта:
					ul 
						li полную информацию об их персональных данных, обрабатываемых в Компании;
						li доступ к своим персональным данным, включая право на получение копии любой записи, содержащей их персональные данные, за исключением случаев, предусмотренных федеральным законом;
						li уточнение своих персональных данных, их блокирование или уничтожение в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки; отзыв согласия на обработку персональных данных; принятие предусмотренных законом мер по защите своих прав;
						li обжалование <strong>действия или бездействия Компании</strong>, <i>осуществляемого с нарушением требований</i> законодательства Российской Федерации в области персональных данных, в уполномоченный орган по защите прав субъектов персональных данных или в суд;
						li осуществление иных прав, предусмотренных законодательством Российской Федерации.
					p Еще один список:
					ul 
						li полную информацию об их персональных данных, обрабатываемых в Компании;
						li В случае выявления неправомерной обработки персональных данных, осуществляемой Компанией или лицом, действующим по поручению Компании,
						li Компания в срок, не превышающий трех рабочих дней с даты этого выявления, обязана прекратить неправомерную обработку персональных данных или обеспечить прекращение неправомерной обработки персональных данных лицом, действующим по поручению Компании.
					h2 Заголовок h2
					h3 Заголовок h3
					h4 Заголовок h4

