*, *::after, *::before {
    box-sizing: border-box;
}

* {
    line-height: 1;
    padding: 0;
    margin: 0;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #1783e7bf transparent;
    &[lang="ru"] {
        body, h1, h2, h3, h3, h4, h5, h6, a {
            font-family: $font-family;
        }
    }
}

body {
    min-width: 320px;
    font-family: $font-family;
    color: $color-white;
    font-size: 14px;
    letter-spacing: 1px;
    background: url($background-img) no-repeat #38424f;
    background-size: cover;
    background-attachment: fixed;
}

ul, li {
	list-style: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-family: 'Rajdhani Semibold', sans-serif;
    font-size: 37px;
}

h2 {
    font-family: 'Rajdhani Semibold', sans-serif;
    font-size: 27px;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: $color-white;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    &:focus {
        outline: none;
    }
}

label {
    cursor: pointer;
}

h2, h3 {
    text-align: center;
    text-transform: uppercase;
}