.v-h {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
h1 {
	text-transform: uppercase;
	margin-bottom: 20px;
	@media (max-width: $lg) {
		font-size: 23px;
	}
}
h2 {
	padding: 0 10px;
	margin-bottom: 20px;
}
h3 {
	font-family: $font-family2;
    color: #fff;
	font-size: 17px;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 15px;
	@media (min-width: $md) {
		font-size: 23px;
		margin-top: 15px;
	}
}

section:not(.hero, .posts) {
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #475567;
	border-radius: 10px;
	background: #343d49;
	@media (min-width: $lg) {
		padding: 20px;
		margin-bottom: 30px;
		box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.7);
	}
	&:last-child {
		padding-bottom: 40px;
		margin-bottom: 0;
	}
}
.list-links-block {
	text-align: center;
	margin-bottom: 0;
	li {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		a {
			color: #55adff;
			font-size: 17px;
			padding: 10px;
			&:hover {
				color: #a6c4e0;
				transition: .3s;
			}
		}
	}
}

strong {
    color: #55adff;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1d63a3;
    transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: #1b5487;
}

::selection {
    color: #63a1da;
    background: #2d83d360;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.responsive-media {
	position: relative;
	padding-bottom: 53%;
	overflow: hidden;
	img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.date {
	position: relative;
	color: #fff;
	padding-left: 30px;
	margin-right: 20px;
	i {	
		position: absolute;
		top: -4px;
		left: 0;
		width: 20px;
		height: 20px;
		background: #fff;
		mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='calendar'%3E%3Cpath d='M18 4h-1V3a1 1 0 00-2 0v1H9V3a1 1 0 00-2 0v1H6a3 3 0 00-3 3v12a3 3 0 003 3h12a3 3 0 003-3V7a3 3 0 00-3-3zM6 6h1v1a1 1 0 002 0V6h6v1a1 1 0 002 0V6h1a1 1 0 011 1v4H5V7a1 1 0 011-1zm12 14H6a1 1 0 01-1-1v-6h14v6a1 1 0 01-1 1z'/%3E%3Ccircle cx='8' cy='16' r='1'/%3E%3Cpath d='M16 15h-4a1 1 0 000 2h4a1 1 0 000-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
}