h1 {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}
h2 {
	padding: 0 10px;
	margin-bottom: 20px;
}
h3 {
	font-family: $font-family2;
    color: #fff;
	font-size: 20px;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 15px;
	@media (min-width: $md) {
		font-size: 23px;
		margin-top: 15px;
	}
}

section:not(.hero) {
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #475567;
	border-radius: 10px;
	background: #343d49;
	@media (min-width: $lg) {
		padding: 20px;
		margin-bottom: 30px;
		box-shadow: 0px 2px 25px 5px rgba(0, 0, 0, 0.7);
	}
	&:last-child {
		padding-bottom: 40px;
		margin-bottom: 0;
	}
	ul {
		text-align: center;
		margin-bottom: 0;
		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			a {
				color: #55adff;
				font-size: 17px;
				padding: 10px;
				&:hover {
					color: #a6c4e0;
					transition: .3s;
				}
			}
		}
	}
}

p {
	color: #b7c7e2;
	line-height: 24px;
	&:not(:last-child) {
		margin-bottom: 10px;
	}
	&:before {
		content: "...";
		user-select: none;
		color: transparent;
	}
}

strong {
    color: #55adff;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: var(--border-rounded);
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1d63a3;
    transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: #1b5487;
}

::selection {
    color: #63a1da;
    background: #2d83d360;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}