$color-white: #fff;
$primary-bg-color: #1d63a3;
$primary-bg-color-hover: #1b5487;
$background-img: "../img/background/2021-1-bg.png";
$font-family: 'Roboto', sans-serif;
$font-family2: 'Rajdhani Semibold',sans-serif;


$xl: 1100px;
$lg: 992px;
$md: 768px;
$sm: 576px;